<div class="header">
    <div style="background-color: rgb(31,141,214);" class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <img src="../../../../assets/moura icon.png" style="width: 50px;" alt="">
        <button class="pure-menu-heading" style="background-color: transparent; border: none; cursor: pointer;"
            (click)="RedirecionarParaRegraImposto()">Regras de Imposto</button>
        <button class="pure-menu-heading" style="background-color: transparent; border: none; cursor: pointer;"
            (click)="RedirecionarParaProduto()">Produto</button>
        <button class="pure-menu-heading" style="background-color: transparent; border: none; cursor: pointer;"
            (click)="RedirecionarParaProdutoRelacao()">Relação de Produto</button>
        <button class="pure-menu-heading" style="background-color: transparent; border: none; cursor: pointer;"
            (click)="RedirecionarParaLogin()">Sair e Voltar ao Login</button>
    </div>
</div><br>
<br>
<br>

<router-outlet></router-outlet>